In [26]:
import pandas as pd  # импорт библиотек
import numpy as np

In [27]:
df = pd.read_csv("S02-hw-dataset.csv")  # прочитали csv файл, которого до этого импортировали в репозиторий с помощью команды curl
df

    user_id    age country  purchases  revenue
0         1   25.0      FR          7      749
1         2   24.0      RU          5     1115
2         3   52.0      FR          7      399
3         4   31.0      RU          6      654
4         5    NaN      DE          6     1296
5         6  120.0      FR         -1      785
6         7   46.0      RU          0        0
7         8   28.0      CN          2      456
8         9   39.0      US          4      980
9        10   24.0      RU          7      511
10       11   24.0      US          4        0
11       12   20.0      CN          7     1652
12       13    NaN      US          9      630
13       14   36.0      DE          9     2358
14       15   57.0      FR          7      693
15       16   22.0      FR          3      183
16       17   32.0      FR          6     1608
17       18   24.0      RU          0        0
18       19   47.0      RU          3      432
19       20   31.0      RU          2      442
20       21    5.0      RU          8     1488
21       22   33.0      FR          6      546
22       23   42.0      US          4      904
23       24   32.0      DE         11     2475
24       25   21.0      RU          5      650
25       26   35.0      US          5      330
26       27   54.0      RU          6     1302
27       28   43.0      US          3      828
28       29   47.0      FR          6     1440
29       30   52.0      DE          6      702
30       31   55.0      FR          1      142
31       32   26.0      RU          6     1080
32       33   23.0      US          5      445
33       34   28.0      FR          0        0
34       35   45.0      FR          2      404
35       36   51.0      US          3      342
36       37   18.0      DE          4     1104
37       38   35.0      DE          3      738
38       39   39.0      FR          7     1162
39       40   34.0      RU          7     2086
40       10   24.0      RU          7      511

In [28]:
print(df.head(6)) # выведем первые 6 строк
print(df.tail(6))  # последние 6 строк

   user_id    age country  purchases  revenue
0        1   25.0      FR          7      749
1        2   24.0      RU          5     1115
2        3   52.0      FR          7      399
3        4   31.0      RU          6      654
4        5    NaN      DE          6     1296
5        6  120.0      FR         -1      785
    user_id   age country  purchases  revenue
35       36  51.0      US          3      342
36       37  18.0      DE          4     1104
37       38  35.0      DE          3      738
38       39  39.0      FR          7     1162
39       40  34.0      RU          7     2086
40       10  24.0      RU          7      511

In [29]:
print(df.info())  # информация по всем столбцам

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    41 non-null     int64
 1   age        39 non-null     float64
 2   country    41 non-null     object
 3   purchases  41 non-null     int64
 4   revenue    41 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.7+ KB
None

In [30]:
df.info(verbose=False)  # Сводка по количеству столбцов

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Columns: 5 entries, user_id to revenue
dtypes: float64(1), int64(3), object(1)
memory usage: 1.7+ KB

In [31]:
print(df.shape)  # размер данных
print(df.shape[0])  # количество строк
print(df.shape[1])  # количество столбцов

(41, 5)
41
5

In [32]:
print(df.describe(include='all'))  # Общая статистика DataFlame
print(df.describe(include=[np.number]))  # Статистика только столбцов с числами

          user_id         age country  purchases      revenue
count   41.000000   39.000000      41  41.000000    41.000000
unique        NaN         NaN       5        NaN          NaN
top           NaN         NaN      RU        NaN          NaN
freq          NaN         NaN      13        NaN          NaN
mean    20.243902   36.512821     NaN   4.829268   820.048780
std     11.659289   18.304259     NaN   2.710189   613.127269
min      1.000000    5.000000     NaN  -1.000000     0.000000
25%     10.000000   24.000000     NaN   3.000000   432.000000
50%     20.000000   33.000000     NaN   5.000000   693.000000
75%     30.000000   45.500000     NaN   7.000000  1115.000000
max     40.000000  120.000000     NaN  11.000000  2475.000000
         user_id         age  purchases      revenue
count  41.000000   39.000000  41.000000    41.000000
mean   20.243902   36.512821   4.829268   820.048780
std    11.659289   18.304259   2.710189   613.127269
min     1.000000    5.000000  -1.000000     0.000000
25%    10.000000   24.000000   3.000000   432.000000
50%    20.000000   33.000000   5.000000   693.000000
75%    30.000000   45.500000   7.000000  1115.000000
max    40.000000  120.000000  11.000000  2475.000000

In [34]:
print(df.isnull().sum())  # Пропущенные значения по столбцам

user_id      0
age          2
country      0
purchases    0
revenue      0
dtype: int64

In [40]:
for column in df.columns:
    miss_c = df[column].isna().sum()
    if miss_c > 0:
        print(f"{column}-пропуски: {miss_c}")

age-пропуски: 2

In [42]:
dupl_c = df.duplicated().sum()
print()
if dupl_c > 0:
    print(df[df.duplicated(keep=False)].head()) # вывод дублирующих строк

    user_id   age country  purchases  revenue
9        10  24.0      RU          7      511
40       10  24.0      RU          7      511

In [49]:
problems = {}
problems['Дубликаты user_id'] = df['user_id'].duplicated().sum()
problems['Пропуски в возрасте'] = df['age'].isnull().sum()
problems['Возраст <= 0'] = len(df[df['age'] <= 0])
problems['Покупки < 0'] = len(df[df['purchases'] < 0])

for problem, count in problems.items():
    print(f"  {problem}: {count}")

  Дубликаты user_id: 1
  Пропуски в возрасте: 2
  Возраст <= 0: 0
  Покупки < 0: 1

In [54]:
print(df['country'].value_counts().head())  # распределение по странам

country
RU    13
FR    12
US     8
DE     6
CN     2
Name: count, dtype: int64

In [57]:
gender_stats = df.groupby('age').agg({
    'purchases': ['count', 'mean', 'sum'],
    'age': 'median'
}).round(2)
print(gender_stats)

      purchases             age
          count mean sum median
age
5.0           1  8.0   8    5.0
18.0          1  4.0   4   18.0
20.0          1  7.0   7   20.0
21.0          1  5.0   5   21.0
22.0          1  3.0   3   22.0
23.0          1  5.0   5   23.0
24.0          5  4.6  23   24.0
25.0          1  7.0   7   25.0
26.0          1  6.0   6   26.0
28.0          2  1.0   2   28.0
31.0          2  4.0   8   31.0
32.0          2  8.5  17   32.0
33.0          1  6.0   6   33.0
34.0          1  7.0   7   34.0
35.0          2  4.0   8   35.0
36.0          1  9.0   9   36.0
39.0          2  5.5  11   39.0
42.0          1  4.0   4   42.0
43.0          1  3.0   3   43.0
45.0          1  2.0   2   45.0
46.0          1  0.0   0   46.0
47.0          2  4.5   9   47.0
51.0          1  3.0   3   51.0
52.0          2  6.5  13   52.0
54.0          1  6.0   6   54.0
55.0          1  1.0   1   55.0
57.0          1  7.0   7   57.0
120.0         1 -1.0  -1  120.0

In [59]:
df['age_group'] = pd.cut(df['age'],  bins=[0, 25, 35, 45, 100], 
                         labels=['18-25', '26-35', '36-45', '45+'])
age_group_stats = df.groupby('age_group').agg({'purchases': ['count', 'mean', 'sum'],
                                               'age': 'mean'
}).round(2)
print(age_group_stats)

          purchases              age
              count  mean sum   mean
age_group
18-25            12  5.17  62  21.17
26-35            11  4.91  54  31.36
36-45             6  4.83  29  40.67
45+               9  4.33  39  51.22

C:\Users\4802789\AppData\Local\Temp\ipykernel_5884\3510607686.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_group_stats = df.groupby('age_group').agg({'purchases': ['count', 'mean', 'sum'],